{namespace mask=MASK\Mask\ViewHelpers}
{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Default"/>
<f:section name="content">
	<f:render partial="General/Tabs" arguments="{active: 'WizardContent'}"/>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="DTM-mask-1">
			<div class="form-section">
				<f:flashMessages/>
				<f:for each="{messages}" as="message">
					<div class="typo3-message message-error"><strong>
						<f:translate key="tx_mask.content.error"/>
					</strong> {message}
					</div>
				</f:for>

				<f:if condition="{missingFolders}">
					<f:form action="createMissingFolders" controller="WizardContent">
						<f:form.submit value="{f:translate(key:'tx_mask.all.createmissingfolders')}" class="btn btn-primary"/>
					</f:form>
				</f:if>

				<div class="panel panel-space panel-default">
					<div class="panel-heading">
						<f:translate key="tx_mask.all.contentelements"/>
					</div>


					<div class="table-fit collapse in" id="recordlist-be_users" data-state="expanded">
						<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-hover">
							<thead>
							<tr>
								<th class="text-nowrap col-icon">
									<f:link.action action="new" class="btn btn-default">
										<core:icon identifier="actions-document-new"/>
									</f:link.action>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.image"/>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.titlekey"/>
								</th>
								<th class="text-nowrap col-title">
									<f:translate key="tx_mask.content.description"/>
								</th>
								<th class="text-nowrap">
									<f:translate key="tx_mask.content.count"/>
								</th>
								<th class="text-nowrap col-control">&nbsp;
								</td>
							</tr>
							</thead>
							<tbody>
							<f:for each="{storages.tt_content.elements}" as="storage" key="key">
								<tr class="{f:if(condition:'{storage.hidden}' then:'element-hidden')}">
									<td></td>
									<td>
										<f:link.action action="edit" arguments="{type:'tt_content',key:key}">
											<core:icon identifier="mask-ce-{key}" size="large"/>
										</f:link.action>
									</td>
									<td class="text-nowrap">
										<p><strong>
											<f:link.action action="edit" arguments="{type:'tt_content',key:key}">
												<f:translate key="{storage.label}">{storage.label}</f:translate>
											</f:link.action>
										</strong><br/>{key}
										</p>
									</td>

									<td>
										<p>{storage.description}</p>
										<mask:link data="{key}"/>
										<f:if condition="{mask:link(data:key)}">
											<f:link.action action="createHtml" arguments="{key:key}">
												<i class="fa fa-plus-circle "></i>
											</f:link.action>
										</f:if>
									</td>
									<td class="text-center text-muted">
										<mask:elementCount key="{key}"/>
									</td>
									<td class="text-nowrap">
										<div class="btn-group" role="group">
											<f:link.action action="showHtml" arguments="{key: key, table: 'tt_content'}" onclick="window.open(this.href, 'HTML', 'width=800,height=600,resizable=yes,scrollbars=yes');
												return false;" class="btn btn-default"><core:icon identifier="sysnote-type-2" /></f:link.action>
											<f:link.action action="edit" arguments="{type:'tt_content',key:key}" class="btn btn-default"><core:icon identifier="actions-open" /></f:link.action>
											<f:if condition="{storage.hidden}">
												<f:then>
													<f:link.action action="activate" arguments="{key:key}" class="btn btn-default"><core:icon identifier="actions-edit-unhide" /></f:link.action>
												</f:then>
												<f:else>
													<f:link.action action="hide" arguments="{key:key}" class="btn btn-default"><core:icon identifier="actions-edit-hide" /></f:link.action>
												</f:else>
											</f:if>
											<f:link.action action="delete" arguments="{type:'tt_content',key:key}" class="deleteCe btn btn-default" additionalAttributes="{data-purge-url:'{f:uri.action(action:\'purge\', arguments: {type:\'tt_content\',key:key})}', data-title: '{f:translate(key:\"tx_mask.field.titleDelete\")}', data-content: '{f:translate(key:\"tx_mask.all.confirmdelete\")}', data-button-close-text:'{f:translate(key:\"tx_mask.all.abort\")}', data-button-ok-text:'{f:translate(key:\"tx_mask.all.delete\")}', data-button-purge-text:'{f:translate(key:\"tx_mask.all.purge\")}'}"><core:icon identifier="actions-edit-delete" /></f:link.action>
										</div>
									</td>
								</tr>
							</f:for>
							</tbody>
						</table>
					</div>
				</div>
				<div class="typo3-messages">
					<div class="alert alert-info" style="background: #d8d8d8;color: #333;">
						<div class="media">
							<div class="media-left">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-question fa-stack-1x"></i>
								</span>
							</div>
							<div class="media-body"><p class="alert-message">You are interested in a new feature? You want mask for
								the current version of TYPO3 9? Great! <a href="https://mask.webprofil.at/mask/sponsoring/?maskbe=1"
																											 target="_blank">Sponsor a feature now</a> or <a
									href="https://github.com/Gernott/mask" target="_blank">PR on Github!</a></p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</f:section>
